html {
  font-family: 'Avenir';
}

.nav-text {
  text-decoration: none;
  color: #AEAFB0;
}

.nav-text:hover {
  color: #3C8C8C;
}

body div:first-child {
  position: fixed;
  top:0;
  bottom:0;
}

.mobile-nav ul li a {
  background-color: #CDEBF1;
  display: block;
  color: #3C8C8C;
}

.mobile-nav a:hover {
  background-color: #4EAAAA;
  color: #fff;
}

.long-logo {
  max-width: 18em;
}
